
.stream-section .title {
    padding: 10px 12px;
    text-transform: capitalize;
    font-size: 1.5em;
}

.featured-image {
    width: 100%;
    height: 0;
    padding-bottom: 56%;
    background: #ccc;

    position: relative;
    margin-bottom: 30px;
}

.featured-image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.featured-image .on-air-label {
    position: absolute;
    padding: 6px 8px;
    background: red;
    color: #fff;
    top: 6px;
    left: 6px;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 0.7em;
}

.featured-image .on-air-label::before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    background: #fff;
}

/*******************/

.users {
    display: inline-block;
    margin-top: 10px;
}

.users ul li {
    display: inline-block;
    margin-left: 10px;
}

.users ul li a, .users ul li span {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fcfffe;
    overflow: hidden;
}

.users ul li span {
    border: 1px solid #adb3be;
    text-align: center;
    line-height: 28px;
    letter-spacing: 3px;
    font-size: 1em;
    color: #999;
    font-weight: 900;
}

.users li img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.users li img:hover {
    opacity: 0.75;
}

.movie-details .green-label .user-icon img {
    height: 18px;
}

/*******************/
@media (min-width: 600px) {
    .featured-image .on-air-label {
        padding: 18px 26px;
        background: red;
        color: #fff;
        top: 20px;
        right: 20px;
        left: initial;
    }

    .stream-section .title {
        padding: 20px 0;
        font-size: 2em;
    }

    .movie-details {
        text-align: right;

    }

}